@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}

nav {
  margin: 0 auto;
  max-width: 1200px;
}
